Options +SymLinksIfOwnerMatch

#SITEGUARD_PLUGIN_SETTINGS_START
#==== SITEGUARD_SG_WHITE_LIST_SETTINGS_START
<IfModule mod_siteguard.c>
        SiteGuard_User_ExcludeSig sqlinj-55
</IfModule>
#==== SITEGUARD_SG_WHITE_LIST_SETTINGS_END
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
